body{

    font-family:"F-main";
    font-size:20px;

    animation-name: "opacitys";
    animation-delay: 1s;
    animation-duration: 0.2s;
    opacity:0;
    animation-fill-mode: both; 
}

header{
    font-family:"F-44dots";
    font-size:80px;
    text-align: right;
    
    background-image: url(MtFiles/noL_1.png);
    background-repeat: no-repeat;
    background-size:contain;

    flex-grow: 2;

}



f1{
    font-family: "F-44dots";
    font-size: 60px;

}

hr{
    border-bottom: solid 2px black;
}


.Left
{
    display:flex;
    flex-direction: row;
}
.Right
{
    flex-grow: 1;
}

/*.Info
{
    width: auto; height: auto;
}

.log{
    border: solid 1px black;
}

.links{
}*/

@keyframes opacitys
{
    0%{
        opacity:0;
        
    }
    100%{
        opacity:1;
    }
}



@font-face{
    font-family:"F-main";
    src:url(MtFiles/ZenKurenaido-Regular.ttf)

}

@font-face{
    font-family:"F-44dots";
    src:url(MtFiles/4x4kanafont.ttf)
}


/*↓ レイアウト関係 ↓*/
/*@media screen and (max-width:959px)
{
    
header{



}
}*/
@media screen and (max-width:480px)
{

    header
    {
        font-size:30px;
        text-align: left;
        background-image: none;

        
    }
}