body
{
    font-size:30px;
    animation-name:"opacitys";
    animation-delay: 1s;
    animation-duration: 1.4s;
    opacity:0;
    animation-fill-mode: both; 
}


f1
{
    font-family:"44dots";
    font-size:100px;
}


f2
{
    font-family:"44dots";
    font-size:20px;
    animation-fill-mode: both; 
}


.bdr1
{
    color:black;
    border-top:solid 10px black;
}


.smallest
{
    font-size:1px;
}

.bo
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 1s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.ku
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 1.2s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.no
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 1.4s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.ni
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 1.6s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}

.hi
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 1.8s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.ri
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 2s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.zu
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 2.2s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.mu
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 2.4s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}
.wo
{
    opacity:0;
    animation-name:"opacitys";
    animation-delay: 2.6s;
    animation-duration: 1.4s;
    animation-fill-mode: both; 
}

/*上記雑な為、後日タグごとにまとめる*/


@font-face
{
    font-family: "44dots";
    src: url(MtFiles/4x4kanafont.ttf);
}

@keyframes opacitys
{
    0%{
        opacity:0;
        
    }
    100%{
        opacity:1;
    }
}