body
{
    font-size:30px;
    animation-name:"opacitys";
    animation-delay: 1s;
    animation-duration: 1.4s;
    opacity:0;
    animation-fill-mode: both; 
}





header
{
    font-family:"44dots";
    font-size:100px;
}

footer
{
    text-align: center;
}



f2
{
    font-family:"44dots";
    font-size:20px;
    animation-fill-mode: both; 
}



.smallest
{
    font-size:10px;
}

.nih
{
    opacity:0;
    animation-name: "opacitys";
    animation-fill-mode: both;
    animation-duration: 1.4s;
}

.bo
{
    animation-delay: 1s;

}
.ku
{
    animation-delay: 1.2s;
}
.no
{
    animation-delay: 1.4s;
}
.ni
{
    animation-delay: 1.6s;
}
.hi
{
    animation-delay: 1.8s;
}
.ri
{
    animation-delay: 2s;
}
.zu
{
    animation-delay: 2.2s;
}
.mu
{
    animation-delay: 2.4s;
}
.wo
{
    animation-delay: 2.6s;
}


@font-face
{
    font-family: "44dots";
    src: url(MtFiles/4x4kanafont.ttf);
}

@keyframes opacitys
{
    0%{
        opacity:0;
        
    }
    100%{
        opacity:1;
    }
}