body{

    font-family:"F-main";
    font-size:20px;
}

header{
    font-family:"F-44dots";
    font-size:60px;
    text-align: center;
    
    background-image: url(MtFiles/noL_1.png);
    background-repeat: no-repeat;
    background-size:contain;

}



f1{
    font-family: "F-44dots";
    font-size: 60px;

}

hr{
    border-bottom: solid 5px black;
}






@font-face{
    font-family:"F-main";
    src:url(MtFiles/ZenKurenaido-Regular.ttf)

}

@font-face{
    font-family:"F-44dots";
    src:url(MtFiles/4x4kanafont.ttf)
}


/*↓ レイアウト関係 ↓*/

.allcont{
    display: flex;
}
